<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin-Panel</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <style>
    .loading-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }

    .loading-spinner {
      border: 4px solid #f3f3f3;
      border-top: 4px solid #3498db;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
       0% {
         transform: rotate(0deg);
       }
       100% {
         transform: rotate(360deg);
       }
    }
  </style>
  <script>
    $(document).ready(function() {
      $('#myTable').DataTable();
    });

    async function confirmation(id) {
      if (confirm("Are you sure you want to delete this data..?")) {
        //console.log(`${id}`);
        const res = await axios.delete(`/user/delete/${id}`).then(function(response) {
          return "data deleted"
        });

        //console.log("hello9");
        window.location.reload();
      } else {
        alert("not deleted");
      }
    }

    async function addUser() {
      const name = document.getElementById('name').value;
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;

      if (!name || !email || !password) {
        alert("Please enter all fields");
        return;
      }

      try {
        const res = await axios.post('/user/insert', {
          name: name,
          email: email,
          password: password
        });

        Toastify({
          text: 'User added successfully',
          duration: 4000,
          gravity: 'top',
          position: 'right',
        }).showToast();

        // Clear input fields
        document.getElementById('name').value = '';
        document.getElementById('email').value = '';
        document.getElementById('password').value = '';

        // Append the new user row to the table
        const table = document.getElementById('myTable').getElementsByTagName('tbody')[0];
        const newRow = table.insertRow();
        newRow.id = `userRow${res.data.id}`;
        newRow.innerHTML = `
          <td>${res.data.id}</td>
          <td>${res.data.name}</td>
          <td>${res.data.email}</td>
          <td>
            <button class="btn btn-danger" onclick="confirmation(${res.data.id})">Delete</button>
          </td>
        `;

        window.location.reload(); // Reload the page
      } catch (error) {
        console.error(error);

        Toastify({
          text: 'Failed to add user',
          duration: 4000,
          gravity: 'top',
          position: 'right',
          backgroundColor: '#ff0000',
        }).showToast();
      }
    }

    // Update the user information in the table
    function updateUserRow(updatedUser) {
      const row = document.getElementById(`userRow${updatedUser.id}`);
      if (row) {
        row.cells[1].textContent = updatedUser.name;
        row.cells[2].textContent = updatedUser.email;
        row.cells[3].textContent = updatedUser.isadmin === 1 ? "Admin" : "User";
      }
    }

    // Function to handle the form submission and update the user
    async function editUser(id) {
      const name = document.getElementById(`edit-name-${id}`).value;
      const email = document.getElementById(`edit-email-${id}`).value;
      const isAdmin = document.getElementById(`edit-isadmin-${id}`).value;

      if (!name || !email || !isAdmin) {
        alert("Please enter all fields");
        return;
      }

      try {
        const res = await axios.post(`/user/edit/${id}`, {
          name: name,
          email: email,
          isadmin: isAdmin,
        });

        Toastify({
          text: 'User updated successfully',
          duration: 4000,
          gravity: 'top',
          position: 'right',
        }).showToast();

        // Update the user row in the table with the updated information
        updateUserRow(res.data);

        // Close the modal
        $(`#editModal${id}`).modal('hide');
      } catch (error) {
        console.error(error);

        Toastify({
          text: 'Failed to update user',
          duration: 4000,
          gravity: 'top',
          position: 'right',
          backgroundColor: '#ff0000',
        }).showToast();
      }
    }
  </script>
</head>

<body>
  <%- include('darshboard') %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Add user :</a>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" required>
          </div>
          <select name="roleId" id="roleId">
            <option value="1">User</option>
            <option value="2">Admin</option>

          </select>
          <button type="button" class="btn btn-primary" onclick="addUser()">Add User</button>
        </form>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="userTableBody">
            <% users.forEach(function(user) { %>
            <tr id="userRow<%= user.id %>">
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.role.name %></td>
              <td data-id="<%= user.id %>">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#editModal<%= user.id %>"
                  onclick="editUser('<%= user.id %>')">Edit</a>
                <button class="btn btn-danger" onclick="confirmation('<%= user.id %>')">Delete</button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <% users.forEach(function(user) { %>
  <!-- Edit User Modal -->
  <div class="modal fade" id="editModal<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="edit-name">Name</label>
              <input type="text" class="form-control" id="edit-name-<%= user.id %>" name="name" placeholder="Enter name"
                value="<%= user.name %>" required>
            </div>
            <div class="form-group">
              <label for="edit-email">Email</label>
              <input type="email" class="form-control" id="edit-email-<%= user.id %>" name="email" placeholder="Enter email"
                value="<%= user.email %>" required>
            </div>
            <div class="form-group">
             
            <label for="<%= user.id %>">Role</label>
            <select name="<%= user.id %>" id="<%= user.id %>">
              <option value="1">User</option>
              <option value="2">Admin</option>

            </select>
            </div>
            <button type="button" class="btn btn-primary" onclick="editUser('<%= user.id %>')">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</body>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
